@import "viu-utilities" source("../Components");

@theme {
    --color-viu-50: oklch(97.3% 0.018 33);
    --color-viu-500: oklch(65.6% 0.209 34);
    --color-viu-700: oklch(49.7% 0.18 31);
    --color-viu-950: oklch(21.6% 0.052 28);
}

@custom-variant theme-dark (&:where(.theme-dark *));

@utility viu-balanced {
    text-wrap: balance;
}
